.hoverX:hover{
    padding: 6px;
    background-color: cyan;
    filter: invert();
}

.hoverX{
    font-size: 0.8em;
    visibility: hidden;
}
#list-item:hover .hoverX {
    visibility: visible;
}

li:hover{
    background: rgb(192, 230, 243);
}
#input{
    z-index: 2;
}
#list{
    z-index: 1;
}

h1{
    font-size: 3em;
}